:root{
    --principal-font: font-family: Arial, Helvetica, sans-serif;
    --purple: #555A88;

}

body{
    margin: 0;
}

html{
    box-sizing: border-box;
    font-size: 18px;
}

*, *::after, *::before{
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

@media (max-width: 1000px) {  
    .sectionForm{
        grid-template-columns:  300px 300px;
    grid-template-rows: 250px;
    }
}

@media (max-width: 719px) {
    .sectionForm{
        grid-template-columns:  300px;
    grid-template-rows: 250px;
    }

@media (max-width: 385px){
    .navbar{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .navbar__title{
        margin: 10px auto;
    }

    .navbar__button{
        margin: 10px auto;
    }
}
}